Repository broadinstitute/gnomad_qc, pull requests merged in 2023-06, with the labels that each got.

#342 add VRS annotation in VCF INFO field and VCF header
  gnomad_qc/v3/create_release/prepare_vcf_data_release.py
Labels: ga4gh VRS

#358 add validity step for VEP after running VEP
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Annotation

#362 Add v4 coverage resource
  gnomad_qc/v4/resources/constants.py
  gnomad_qc/v4/resources/release.py
Labels: v4

#359 module to remove missing fields from VEP105 HT
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
Labels: enhancement, v4, Annotation
