Repository broadinstitute/gnomad_qc, pull requests merged in 2023-10, with the labels that each got.

#451 Update evaluation code for VQSR functionality
  gnomad_qc/v4/variant_qc/evaluation.py
Labels: v4, Variant QC

#452 Fix the NA bug in frequency adjustments
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency

#440 Variant QC evaluation -- bin and get aggregate counts
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/evaluation.py
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#453 Final variant QC evaluation PR
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/basics.py
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/evaluation.py
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#443 process SIFT and PolyPhen scores from vep_ht
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#454 Add UKB/platform stratification option to v4 coverage
  gnomad_qc/v4/annotations/compute_coverage.py
Labels: v4, Coverage

#458 Changes to load isolation forest split VCF
  gnomad_qc/v4/load_data/load_vqsr.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/variant_qc.py
Labels: v4, Variant QC

#459 Change variant QC VQSR result paths and add support for isolation forest
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/evaluation.py
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#456 Add gen_anc_faf_max
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency

#460 Small change to work with updated `generate_freq_group_membership_array`
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency

#461 Change return type of vep in silico predictors
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4

#463 Add HGDP + 1KG functions to determine relatedness to nonsubset and v4 duplicates
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/resources/sample_qc.py
Labels: v4, v4 genomes release files

#457 update CADD input file names
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#464 HGDP + 1KG update metadata
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/resources/sample_qc.py
Labels: v4, v4 genomes release files

#455 Add script to create the final variant QC HT
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/variant_qc/final_filter.py
Labels: v4, Variant QC

#467 Improve CADD run by adding new_temp_file
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#465 HGDP + 1KG get call stats for updated samples for the v4 genomes sites HT
  gnomad_qc/v3/resources/release.py
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/constants.py
Labels: v4, v4 genomes release files

#446 Script to compute combined FAF of v4 genomes and exomes
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/release.py
  requirements-dev.txt
Labels: v4, Combined FAF

#466 HGDP + 1KG join call stats for update
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
Labels: v4, v4 genomes release files

#462 add function to create Phylop score
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#469 Suggestions to v4 exomes release HT branch
  gnomad_qc/v4/annotations/__init__.py
  gnomad_qc/v4/create_release/__init__.py
  gnomad_qc/v4/create_release/create_release_sites_ht_exomes.py
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/create_release/create_release_utils.py
Labels: v4, v4 release files

#472 add key by locus for phylop
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#473 fix select error in phylop
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#470 Make VRS batch code more general on input and output
  gnomad_qc/v4/annotations/Dockerfile_vrs084
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
Labels: v4, Annotation, ga4gh VRS

#475 add version in globals for phylop
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#471 Move VQSR to gnomad_qc & productionize
  gnomad_qc/v4/variant_qc/evaluation.py
  gnomad_qc/v4/variant_qc/final_filter.py
  gnomad_qc/v4/variant_qc/import_variant_qc_vcf.py
  gnomad_qc/v4/variant_qc/vqsr.py
  gnomad_qc/v4/variant_qc/vqsr_resources.json
Labels: v4, Variant QC

#476 Add Indel_ and Snp_Features to Global Annotations in import_variant_qc_vcf.py
  gnomad_qc/v4/variant_qc/import_variant_qc_vcf.py
Labels: Variant QC annotation, Variant QC

#479 Changes to some VQSR Imports & Args
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/evaluation.py
  gnomad_qc/v4/variant_qc/final_filter.py
  gnomad_qc/v4/variant_qc/import_variant_qc_vcf.py
  gnomad_qc/v4/variant_qc/vqsr.py
Labels: v4, Variant QC

#480 HGDP + 1KG compute allele number for new variants
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, v4 genomes release files

#481 HGDP + 1KG update release call stats
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, v4 genomes release files

#486 Add code for creating the final combined FAF release HT
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#484 A few add-ons to v4.0 genomes freq_ht
  gnomad_qc/v4/annotations/generate_freq_genomes.py
Labels: v4, Frequency, v4 genomes release files

#483 Add v4 genomes variant QC finalize script
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/final_filter.py
  gnomad_qc/v4/variant_qc/final_filter_genomes.py
Labels: v4, Variant QC, v4 genomes release files

#403 Script to compute combined FAF of v4 genomes and exomes
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/constants.py
  gnomad_qc/v4/resources/release.py
  requirements-dev.txt
Labels: v4, Combined FAF

#485 Small fixes to the VQSR loading script to correctly make the unsplit HT
  gnomad_qc/v4/variant_qc/import_variant_qc_vcf.py
  gnomad_qc/v4/variant_qc/vqsr.py
Labels: v4, Variant QC

#489 A few fixes to make combined_faf script run
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF, release

#490 Add data_type for combined FAF
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#492 Add sibling_singleton annotation to final filter HT
  gnomad_qc/v4/variant_qc/final_filter.py
Labels: v4, Variant QC

#493 Add sib singletons to release
  gnomad_qc/v4/create_release/create_release_sites_ht.py
Labels: v4, release

#494 Suggestions for create genomes release HT
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/variant_qc/final_filter_genomes.py
Labels: v4, v4 genomes release files

#487 Validity check v4 exomes
  gnomad_qc/v3/create_release/prepare_vcf_data_release.py
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
  gnomad_qc/v4/resources/release.py
Labels: v4, v4 exomes release files

#491 Script to get v4 genome release HT
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/variant_qc/final_filter_genomes.py
Labels: v4, v4 genomes release files

#495 No sibling singleton in genomes final filter
  gnomad_qc/v4/variant_qc/final_filter_genomes.py
Labels: v4, Variant QC

#496 Add genomes to v4 validity checks
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
  gnomad_qc/v4/resources/release.py
Labels: v4, release

#497 Mw/custom global select
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/resources/basics.py
Labels: v4, release

#500 Code to update v4 genome sample_qc metadata
  gnomad_qc/v4/resources/basics.py
  gnomad_qc/v4/resources/meta.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht_genomes.py
Labels: v4, Metadata

#503 Runtime combined FAF changes
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#504 set set_negatives_to_zero=True for the final v4 genomes freq run
  gnomad_qc/v4/annotations/generate_freq_genomes.py
Labels: v4, Frequency

#506 Add set female Y metrics to NA to combined faf
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#508 Flatten the gnomad/non_ukb structs in fafmax and grpmax
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: v4, release

#509 A few more changes for the release
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/create_release/create_release_sites_ht.py
Labels: v4, release

#510 Change monoallelic and het flags to only flag variants that are not AC0
  gnomad_qc/v4/variant_qc/final_filter.py
  gnomad_qc/v4/variant_qc/final_filter_genomes.py
Labels: v4, Variant QC

#511 Combined freq set Y to None earlier before faf is made
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#515 Combined faf small fix of freq -> joint_freq
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: v4, Combined FAF

#517 Add check for duplicates to get_config
  gnomad_qc/v4/create_release/create_release_sites_ht.py
Labels: v4, release

#519 Move duplication check in release so it is only performed once
  gnomad_qc/v4/create_release/create_release_sites_ht.py
Labels: v4, release

#512 Add pop diff AN computation for all variants
  gnomad_qc/v4/annotations/generate_freq_genomes.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#505 Add site quality histograms for v4
  gnomad_qc/v4/create_release/make_var_annot_hists.py
  gnomad_qc/v4/resources/release.py
Labels: v4, v4 exomes release files

#520 using high_quality instead of gnomad_high_quality from hgdp_tgp meta
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht_genomes.py
Labels: v4, Metadata

#523 Make HGDP + 1KG use the exact same methods as those used for the v3.1.2 release HT frequency
  gnomad_qc/v3/utils.py
  gnomad_qc/v4/annotations/generate_freq_genomes.py
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#522 v4 export
  gnomad_qc/v3/create_release/prepare_vcf_data_release.py
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
  gnomad_qc/v4/resources/release.py
Labels: v4, v4 exomes release files

#526 Filter intervals fix
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: v4

#528 Add filter option to combined faf to exclude variants that will be filtered in the release HT creation
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/release.py
Labels: v4, Combined FAF

#533 Missed passing datatype to release vcf path
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: v4, release
