Repository broadinstitute/gnomad_qc, pull requests merged in 2023-08, with the labels that each got.

#383 Update `get_gnomad_v4_vds` with some additional helpful parameters
  gnomad_qc/v4/resources/basics.py
Labels: v4

#384 Make tuples a dictionary
  gnomad_qc/v4/create_release/create_release_sites_ht_genomes.py
Labels: bug, v4

#389 Suggestions to v4 frequency PR for frequency correction
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency

#396 Update python version 3.8 -> 3.11
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  gnomad_qc/v2/annotations/generate_qc_annotations.py
  gnomad_qc/v2/sample_qc/joint_sample_qc.py
  gnomad_qc/v2/variant_qc/calculate_concordance.py
  gnomad_qc/v2/variant_qc/exomes_genomes_coverage.py
  gnomad_qc/v2/variant_qc/prepare_data_release.py
  gnomad_qc/v2/variant_qc/variantqc.py
  gnomad_qc/v3/analysis/vary_subpop_params.py
  gnomad_qc/v3/annotations/compare_freq.py
  gnomad_qc/v3/annotations/generate_freq_data.py
  gnomad_qc/v3/create_release/create_release_sites_ht.py
  gnomad_qc/v3/sample_qc/sample_qc.py
  gnomad_qc/v3/sample_qc/subpop_analysis.py
  gnomad_qc/v3/variant_qc/final_filter.py
  gnomad_qc/v3/variant_qc/random_forest.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
  gnomad_qc/v4/sample_qc/hard_filters.py
  gnomad_qc/v4/sample_qc/identify_trios.py
  gnomad_qc/v4/sample_qc/interval_qc.py
  gnomad_qc/v4/sample_qc/outlier_filtering.py
  gnomad_qc/v4/sample_qc/platform_inference.py
  gnomad_qc/v4/sample_qc/relatedness.py
  gnomad_qc/v4/sample_qc/sex_inference.py
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
Labels: dependencies

#401 Update pre-commit version
  .pre-commit-config.yaml
Labels: Unplanned, dependencies

#394 update VRS docker file under v4
  gnomad_qc/v4/annotations/Dockerfile_vrs084_v4
Labels: v4, Annotation, ga4gh VRS

#379 Add trio and sibling stats
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Variant QC annotation

#382 update VRS annotation batch script for v4 exomes
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Annotation, ga4gh VRS

#406 add .path on table resource output
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
Labels: v4, Annotation, ga4gh VRS

#405 Add fix to allele specific annotations that are longer than LA
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
Labels: v4, Variant QC annotation

#410 Add checkpoint to compute info and copy log file
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
Labels: v4, Variant QC annotation

#409 VRS: delete listing with hadoop before import_vcf
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
Labels: v4, Annotation, ga4gh VRS

#411 Add ability to split compute info based on number of alleles at a site
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
Labels: v4, Variant QC annotation
