Repository broadinstitute/gnomad_qc, pull requests merged in 2023-09, with the labels that each got.

#408 update Java 8 installation resource and Hail version
  gnomad_qc/v4/annotations/Dockerfile_vrs084_v4
Labels: v4, Annotation, ga4gh VRS

#414 UKB downsampling frequency PR suggestions
  gnomad_qc/v4/annotations/generate_freq.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#407 non_ukb downsamplings for v4 freq
  gnomad_qc/v4/annotations/generate_freq.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#418 Remove extra densifies from freq code
  gnomad_qc/v4/annotations/generate_freq.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#417 Changes needed during compute info runtime
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Variant QC annotation

#422 Small additions to docstrings, adj, and not double/triple storing data
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#404 Create random_forest.py for gnomAD v4 and make it functional
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#420 Mw/checkpoint split vds
  gnomad_qc/v4/annotations/generate_freq.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#426 v4 coverage suggestions
  gnomad_qc/v4/annotations/compute_coverage.py
  gnomad_qc/v4/resources/release.py
Labels: v4, Coverage

#413 Add compute coverage for v4 exomes
  gnomad_qc/v4/annotations/compute_coverage.py
  gnomad_qc/v4/resources/basics.py
  gnomad_qc/v4/resources/release.py
Labels: Coverage

#428 Update split VDS path
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Frequency

#423 function to process SpliceAI scores
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#430 Small changes to schema of random forest output files needed for evaluation
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#431 change driver_memory to highmem in hl.init
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
Labels: v4, Annotation, ga4gh VRS

#429 Change v4 VDS loading function to always remove UKB samples with exact same 's'
  gnomad_qc/v4/resources/basics.py
Labels: v4

#434 Move rf_runs loading so multiple models can be trained at the same time
  gnomad_qc/v4/variant_qc/random_forest.py
Labels: v4, Variant QC

#432 VRS docker: update Hail to 0.2.122 and reorder the caching layers
  gnomad_qc/v4/annotations/Dockerfile_vrs084_v4
Labels: v4, ga4gh VRS

#438 remove a note about command
  gnomad_qc/v4/annotations/vrs_annotation_batch.py
Labels: v4, ga4gh VRS

#439 Variant QC evaluation -- extract and merge truth samples
  gnomad_qc/v4/resources/basics.py
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/variant_qc/evaluation.py
Labels: v4, Variant QC

#441 add note for using seqrepo version
  gnomad_qc/v4/annotations/Dockerfile_vrs084
Labels: v4, ga4gh VRS

#435 Function to process Pangolin score
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#433 function to process REVEL scores
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: v4, Annotation

#447 Finalize freq HT
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency
