Repository broadinstitute/gnomad_qc, pull requests merged in 2023-05, with the labels that each got.

#323 Script to generate v3 sv hists
  gnomad_qc/v3/annotations/generate_sv_hists.py
  gnomad_qc/v3/resources/annotations.py
  gnomad_qc/v3/resources/basics.py
Labels: v3

#328 Start adding variant QC annotation script beginning with compute info
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/basics.py
Labels: v4, Variant QC annotation

#336 Variant QC allele counts
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/basics.py
Labels: v4, Variant QC annotation

#338 Add use of gnomad_methods `annotate_allele_info` to add allele info into the info HT during splitting alleles
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Variant QC annotation

#339 Add v4 VEP to variant annotations
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Variant QC annotation

#219 Add VQSR WDL and JSON for parameters used
  gnomad_qc/v3/variant_qc/VQSR_with_transmitted_singletons.WDL
  gnomad_qc/v3/variant_qc/VQSR_with_transmitted_singletons.json
Labels: Needs Refinement

#351 delete action method in vep_version argument & change input for VEP to raw VDS
  gnomad_qc/v3/annotations/generate_qc_annotations.py
Labels: v3, Annotation

#353 Fixes to use `CURRENT_VERSION` instead of `CURRENT_RELEASE` in a couple places
  gnomad_qc/v3/resources/meta.py
  gnomad_qc/v3/sample_qc/create_fam.py
Labels: v3

#352 change CURRENT RELEASE to 3.1.4
  gnomad_qc/v3/resources/constants.py
  gnomad_qc/v3/resources/meta.py
  gnomad_qc/v3/sample_qc/create_fam.py
Labels: v3

#355 Remove ELGH2 project samples from the high_quality samples
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
Labels: v4, Metadata
