Repository broadinstitute/gnomad_qc, pull requests merged in 2023-07, with the labels that each got.

#364 Update outlier detection for inclusion of unreleasable samples
  gnomad_qc/v4/sample_qc/outlier_filtering.py
Labels: v4, Sample outlier filter

#368 Add new outlier detection annotation and elgh2_project descriptions
  gnomad_qc/v4/sample_qc/README.md
Labels: v4, Metadata

#366 Add notebook with example for use of gnomAD RF models
  gnomad_qc/example_notebooks/ancestry_classification_using_gnomad_rf.ipynb
Labels: Ancestry

#378 Move VRS annotation batch script from tgg_methods to gnomad_qc/v3
  gnomad_qc/v3/annotations/vrs_annotation_batch_v3.py
Labels: v3, ga4gh VRS

#374 Add filter to same platform trios and use of interval QC for computing `n_mendel`
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/identify_trios.py
  gnomad_qc/v4/sample_qc/interval_qc.py
Labels: Relatedness, v4

#365 function to merge all CADD predictions to a HT
  gnomad_qc/v4/annotations/insilico_predictors.py
  gnomad_qc/v4/resources/annotations.py
Labels: v4, Annotation

#375 Switch to use `INFO_AGG_FIELDS`
  gnomad_qc/v3/annotations/generate_qc_annotations.py
  gnomad_qc/v4/annotations/generate_variant_qc_annotations.py
Labels: v3, v4, Variant QC annotation
