Repository broadinstitute/gnomad_qc, pull requests merged in 2023-04, with the labels that each got.

#321 Outlier detection changes after analysis
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/hard_filters.py
  gnomad_qc/v4/sample_qc/outlier_filtering.py
Labels: v4, Sample outlier filter

#325 Remove unused final outlier QC stats
  gnomad_qc/resource_utils.py
  gnomad_qc/v4/sample_qc/outlier_filtering.py
Labels: Sample outlier filter

#326 Small PR with a couple changes needed during the final outlier filtering run
  gnomad_qc/v4/sample_qc/outlier_filtering.py
Labels: v4, Sample outlier filter

#297 Generate sample QC metadata ht
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
  gnomad_qc/v4/sample_qc/hard_filters.py
  gnomad_qc/v4/sample_qc/platform_inference.py
  gnomad_qc/v4/sample_qc/sex_inference.py
Labels: v4, Metadata

#332 Add bi-allelic sample QC to metadata HT
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
Labels: v4, Metadata

#331 Fix sample QC metadata HT to include hard-filter cutoffs in the globals
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
  gnomad_qc/v4/sample_qc/outlier_filtering.py
Labels: v4, Metadata

#330 Add GATK version resource and annotations on the sample QC metadata HT
  gnomad_qc/v4/resources/meta.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
Labels: v4, Metadata

#333 Add test sample annotation to metadata HT
  gnomad_qc/v4/resources/variant_qc.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
Labels: v4, Metadata

#327 Add script for generating gnomAD trio pedigree
  gnomad_qc/resource_utils.py
  gnomad_qc/v4/resources/basics.py
  gnomad_qc/v4/resources/meta.py
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/identify_trios.py
  gnomad_qc/v4/sample_qc/outlier_filtering.py
  gnomad_qc/v4/sample_qc/relatedness.py
Labels: Relatedness, v4

#309 Sample QC field definitions
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/README.md
Labels: v4, Metadata

#334 Add global descriptions to sample QC metadata HT
  gnomad_qc/v4/resources/sample_qc.py
  gnomad_qc/v4/sample_qc/create_sample_qc_metadata_ht.py
Labels: v4, Metadata
