Repository broadinstitute/gnomad_qc, pull requests merged in 2024-03, with the labels that each got.

#563 Add all sites AN export to TSV
  gnomad_qc/v4/annotations/compute_coverage.py
  gnomad_qc/v4/annotations/fix_freq_an.py
  gnomad_qc/v4/resources/release.py
Labels: Coverage, v4.1

#564 Add use of all sites AN and qual hists to joint exome genome freq/faf for v4.1 changes
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/constants.py
  gnomad_qc/v4/resources/variant_qc.py
Labels: Combined FAF, v4.1

#565 Add post-v4.0 freq VDS split fix to ensure all hom refs are kept in all samples
  gnomad_qc/v4/annotations/generate_freq.py
Labels: v4, Frequency

#567 Add final release schema check
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/resources/constants.py
Labels: release, v4.1

#572 Fix genomes freq creation script to set the allele frequency to missing for any call stats entries with AN == 0
  gnomad_qc/v4/annotations/generate_freq_genomes.py
Labels: bug, v4, Frequency, v4.1

#575 Set xx chry callstats to missing in fixed freq
  gnomad_qc/v4/annotations/fix_freq_an.py
Labels: bug, Frequency, v4.1

#571 Make joint optional in validate and export vcf
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: v4.1, v4.1 exome release files, v4.1 genome release files

#576 Default to no joint_faf in release
  gnomad_qc/v4/create_release/create_release_sites_ht.py
Labels: v4.1, v4.1 exome release files, v4.1 genome release files

#577 Suggestions to calculate variants per sample in exomes and genomes
  gnomad_qc/v4/create_release/calculate_variant_statistics.py
  gnomad_qc/v4/resources/temp_hail_methods.py
Labels: v4.1, Release Stats

#568 Add option to run a single chromosome for stats tests
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Combined FAF, v4.1

#580 Remove extreme multiallelic in exomes VDS
  gnomad_qc/v4/resources/basics.py
Labels: v4

#581 Suggestions to per sample counts 4.1 PR
  gnomad_qc/v4/create_release/calculate_variant_statistics.py
Labels: v4.1, Release Stats

#582 Add region flags for joint exome genome v4.1
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/resources/constants.py
Labels: Combined FAF, v4.1

#585 Add region flags to exomes all sites AN
  gnomad_qc/v4/annotations/compute_coverage.py
Labels: v4.1

#587 Use release_ht_path for joint freq release HT
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/create_release/create_release_sites_ht.py
  gnomad_qc/v4/resources/annotations.py
  gnomad_qc/v4/resources/constants.py
  gnomad_qc/v4/resources/release.py
Labels: Combined FAF, v4.1

#588 cmh 'odds_ratio' -> 'chisq'
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Combined FAF, v4.1

#583 Add sample growth plot R script to repo
  gnomad_qc/v4/plots/sample_growth.R
Labels: v4, plots
