Repository broadinstitute/gnomad_qc, pull requests merged in 2024-04, with the labels that each got.

#590 Add more precise p value to cmh test
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Combined FAF, v4.1

#589 Get REVEL score for variants in missing MANE transcripts
  gnomad_qc/v4/annotations/insilico_predictors.py
Labels: Annotation, v4.1

#592 Add sex, freq_index_dict and faf_index_dict in joint release HT
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Annotation, release

#596 Modify cmh comparison stats to use Hail's CMH function
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  requirements.txt
Labels: Combined FAF, v4.1

#593 Add validate check to joint HT before vcf export
  gnomad_qc/v4/create_release/export_joint_vcf.py
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: release, v4.1

#598 Updates to validation and export for joint naming
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: v4.1

#591 Code to validate joint release HT
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: release, v4.1

#600 Create a unionized p-value for freq comparison
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Combined FAF, v4.1

#602 Add filters to combined frequency HT
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
Labels: Combined FAF, v4.1

#605 Fixes to validate joint release HT
  gnomad_qc/v4/create_release/create_combined_faf_release_ht.py
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: Combined FAF, release, v4.1

#610 Modify code to export joint VCF
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: release, v4.1

#608 Prepare vcf header and export vcf for joint HT
  gnomad_qc/v4/create_release/validate_and_export_vcf.py
Labels: release, v4.1

#586 Add LOF-specific consequences and desired unions to code
  gnomad_qc/v4/assessment/__init__.py
  gnomad_qc/v4/assessment/calculate_per_sample_stats.py
  gnomad_qc/v4/resources/release.py
  gnomad_qc/v4/resources/temp_hail_methods.py
Labels: v4.1, Release Stats
